.base__title {
	color: black
}
h4.inner-content__title {
	color: blueviolet;
}
h3.inner-content__title {
	color: blue;
}
.inner-content__title {
	color: rgb(50, 0, 50);
}
.inner-content__navigation-block_tuning{
	color: tomato;
}
.inner-content__list .inner-content__item {
	color: cornflowerblue;
}
.inner-content__link {
	color: brown;
}
.inner-content__list-name {
	color: green;
}
.inner-content__list .inner-content__item_string-important{
	color: red;
}
.inner-content__list_tremolo .inner-content__item{
	color: #fa18fa;
}
.inner-content__item{
	color: brown;
}
.inner-content__image-name {
	color: darkblue;
}
span{
	color: red;
}
mark{
	color: red
}
.inner-content__text>span{
	color: rgb(248, 84, 215);
}
.footer__text>p{
	color: red;
}